In [1]:
import pandas as pd

In [3]:
df=pd.read_csv("task.csv")

In [4]:
df

,title,all_text,day
0,NaN,NaN,NaN
1,п,NaN,2022-08-26
2,g,NaN,2022-08-08
3,Есть вопрос?,Search for... 2023-03-01 2023-02-27 2023-02-27...,NaN
4,g,NaN,2022-08-08
5,а,№ Организация Курсы Цена ( сум) Формат обучен...,2022-11-09
6,Посол США в Узбекистане Даниэль Розенблюм посе...,9 июня IT Park посетила делегация посольс...,2022-06-09
7,g,NaN,2022-08-08
8,Фарход Ибрагимов,\n \n ...,Нашими менторами являются крутые предпринимате...